@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@*<button type="button" class="btn btn-primary" @onclick="async () => { await ShowAlertCal(); }">Login</button>*@
@*<button type="button" class="btn btn-primary" @onclick="ShowAlert">Login</button>*@



@*@code {

    public async Task ShowAlertWindow()
    {
        await JSRuntime.InvokeVoidAsync("showAlert", "JS function called from .NET");
    }

}*@

@*
@code {

    public async Task ShowAlertCal()
    {
        int result = await JSRuntime.InvokeAsync<int>("showCal", 1, 2);
    }

}
*@
