@page "/login"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime;

<PageTitle>Login</PageTitle>

<div>
    <h1 class="display-3">Login</h1>
</div>
<hr />
<form @onsubmit=HandleSubmit>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" @bind="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" @bind="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@code {
    private string email { get; set; }
    private string password { get; set; }

    public async Task HandleSubmit()
    {
        await JSRuntime.InvokeVoidAsync("consoleLog", $"email: {email},password: {password}");
    }
}
